<header>
  <nav>
    <a href="/">Home</a>
    <a href="/shelters">Shelters</a>
  </nav>
</header>
<main>
  <form action="/shelters" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Enter a new shelter:</p>
      <input type='text' name='shelter[name]' placeholder='Name'/><br/>
      <input type='textarea' name='shelter[address]' placeholder='Address'/><br/>
      <input type='textarea' name='shelter[city]' placeholder='City'/><br/>
      <input type='textarea' name='shelter[state]' placeholder='State'/><br/>
      <input type='textarea' name='shelter[zip]' placeholder='Zip'/><br/>
      <input type='Submit' value='Create Shelter'/>
  </form>
</main>