<html>
  <head>
    <title>Adopt Don't Shop</title>
    <link href="./app/assets/stylesheets/welcome_index.css" rel="stylesheet" title="Welcome">
  </head>
  <body>
    <header>
      <nav>
        <a href="/shelters">Shelters List</a>
      </nav>
    </header>
    <main>
      <h1>Welcome to Adopt Don't Shop</h1>
    </main>
  </body>
</html>
